/* Coolors Exported Palette - coolors.co/1d1e18-503b31-705d56-9097c0-a7bbec */

/* HSL */
$color1: hsla(70%, 11%, 11%, 1);
$color2: hsla(19%, 24%, 25%, 1);
$color3: hsla(16%, 13%, 39%, 1);
$color4: hsla(231%, 28%, 66%, 1);
$color5: hsla(223%, 64%, 79%, 1);

/* RGB */
$color1: rgba(29, 30, 24, 1);
$color2: rgba(80, 59, 49, 1);
$color3: rgba(112, 93, 86, 1);
$color4: rgba(144, 151, 192, 1);
$color5: rgba(167, 187, 236, 1);