/* Coolors Exported Palette - coolors.co/2b4162-f4faff-738290-4d5061-ffffff */

/* HSL */
$color1: hsla(216%, 39%, 28%, 1);
$color2: hsla(207%, 100%, 98%, 1);
$color3: hsla(209%, 12%, 51%, 1);
$color4: hsla(231%, 11%, 34%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(43, 65, 98, 1);
$color2: rgba(244, 250, 255, 1);
$color3: rgba(115, 130, 144, 1);
$color4: rgba(77, 80, 97, 1);
$color5: rgba(255, 255, 255, 1);