/* Coolors Exported Palette - coolors.co/474448-2d232e-e0ddcf-534b52-f1f0ea */

/* HSL */
$color1: hsla(285%, 3%, 27%, 1);
$color2: hsla(295%, 14%, 16%, 1);
$color3: hsla(49%, 22%, 85%, 1);
$color4: hsla(308%, 5%, 31%, 1);
$color5: hsla(51%, 20%, 93%, 1);

/* RGB */
$color1: rgba(71, 68, 72, 1);
$color2: rgba(45, 35, 46, 1);
$color3: rgba(224, 221, 207, 1);
$color4: rgba(83, 75, 82, 1);
$color5: rgba(241, 240, 234, 1);