
/*Bootstrap enabled site*/
/*Override styles below*/
/* colors */
/*
dark brown: rgba(29, 30, 24, 1);
brown: rgba(80, 59, 49, 1);
lighter brown: rgba(112, 93, 86, 1);
blue1: rgba(144, 151, 192, 1);
blue2: rgba(167, 187, 236, 1);

: rgba(43, 65, 98, 1);
: rgba(244, 250, 255, 1);
: rgba(115, 130, 144, 1);
: rgba(77, 80, 97, 1);
: rgba(255, 255, 255, 1);

greyish
dark grey: rgba(71, 68, 72, 1);
purple brown: rgba(45, 35, 46, 1);
beige: rgba(224, 221, 207, 1);
grey purple: rgba(83, 75, 82, 1);
white: rgba(241, 240, 234, 1);

 purpleish
dark purple: rgba(86, 82, 100, 1);
lighter purple: rgba(112, 102, 119, 1);
pink purple: rgba(166, 128, 140, 1);
light brown: rgba(204, 183, 174, 1);
grey brown: rgba(214, 207, 203, 1);
*/

/* FONTS */

/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Federo', sans-serif;
*/

/* color variables */

:root {
  --textcolor: rgba(241, 240, 234, 1);
  --body-bgcolor: #b7bbba;
  --nav-text-color: rgba(83, 75, 82, 1);
  --wrapper-bgcolor: rgba(17, 28, 33, .85);
  --header-icon-textcolor: rgba(83, 75, 82, 1);
  --menu-icon-bgcolor: rgba(127, 196, 226, 1);
}

html  {
  height: 100%;
}
/* background-image: url("../images/gold-nut-bowl.jpg"); */
/* body  {
  color: var(--textcolor);
  background-color: var(--body-bgcolor);
  background-image: url("../images/bkgnd/kelp-boat.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
} */

/* BACKGROUND IMAGE SLIDESHOW CODE  */

/* preload images */
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("../images/bkgnd/kelp-boat.png", "../images/bkgnd/green-crystal.jpg", "../images/bkgnd/gold-nut-bowl.png");
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  color: var(--textcolor);
  background-color: var(--body-bgcolor);
  background-image: url("../images/bkgnd/bkgnd5.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 2.5s
}
h1 {
  font-size: 1.2em;
}
#slide-1 {
  background-image: url("../images/bkgnd/green-crystal.jpg");
}

#slide-2 {
  background-image: url("../images/bkgnd/guyette.jpg");
}
#slide-3 {
  background-image: url("../images/bkgnd/gold-nut-bowl.jpg");
}
#slide-4  {
  background-image: url("../images/bkgnd/kelp-boat.png");
}
/* END BG SLIDESHOW CODE */


a {
  color: var(--textcolor);
}

#wrapper {

  /* background-image: url("../images/gold-nut-bowl.jpg");
  background-image: url("../images/kelp-boat.jpg");
  background-image: url("../images/guyette.jpg"); */
  background-image: url("../images/kelp-boat.jpg");
  /* background-attachment: fixed;
  background-position: center;background-image: url("../images/sea-dino-vase.jpg");
  /* background-attachment: fixed; */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  top: 200px;

  /* -webkit-background-size: cover;
  -moz-background-size: contain cover;
  -o-background-size: contain cover;
  background-size: contain; */
  background-color: var(--body-bgcolor);
  width: 85%;
  margin: auto;
  min-height: 85vh;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0 0 6rem rgba(0, 0, 0, 0.7);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 0 6rem rgba(0, 0, 0, 0.7);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 0 6rem rgba(0, 0, 0, 0.7);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#header * {
  /* padding: 0;
  margin: 0; */
}
#header  {
  background-color: rgba(157, 175, 204, 0);
  height: 100px;
}
#owner, #owner-tag  {
  /* font-family: 'Josefin Sans', sans-serif; */
}
#owner  {
  float: left;
  width: 40%;
  font-size: 2em;
}
#owner-tag {
  /* position: relative; */
  text-align: center;
  width: 100%;
  /* margin: 0 auto; */
}

#nav-right {
  color: var(--textcolor);
 float: right;
  text-align: right;
  width: 58%;
  margin-top: 20px;
  background-color: none;
}
#footer  {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#footer * {
  text-align: center;
}

.jlp-bkgnd {
  border: none;
  background-image: none;
  background-color: var(--menu-icon-bgcolor);
  /* color: #dee3f5; */
}
.see-through  {
  opacity: .8;
}
.left   {
  position: relative;
  left: 2rem;
}

.right   {
  position: relative;
  right: 2rem;
}

.shadow {
  -webkit-box-shadow: 1px 1px 3px 0px #636262;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 3px 0px #636262;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 3px 0px #636262;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}



 /*BOOTSTRAP OVERRIDES*/
.container  {
  padding: 0;
}
.page-header h1, .page-header h3, .page-header h1 small {

  padding: 0 5px;
  /* font-family: "Espresso"; */
  /*font-weight: 100;*/
 color: var(--textcolor);
 /* font-family: 'Merienda', cursive; */
  /* font-family: 'Felipa', cursive; */

}
.fa {
  color: var(--header-icon-textcolor);
}
/* .icon-bar {
  background-color: rgba(112, 93, 86, 1);
} */
 .page-header  {
   border: none;
   margin: 0;
 }
.navbar {
  min-height: 10px !important;

}
.navbar-header  {
  color: var(--textcolor);
  /* background-color: white; */
}
.navbar-toggle, .icon-bar {
   border:1px solid var(--textcolor);
}
 .navbar-default .navbar-toggle {
   border:  none;
   /* background-color: black !important; */
 }

 .navbar-default .navbar-toggle .icon-bar {
   color: white !important;
   /* background-color: rgba(112, 93, 86, 1); */
 }

 .navbar-default .navbar-nav>li>a {
   color: var(--text-color);
   padding: 5px;
 }
 .panel-default {
    border: transparent 0px;
 }
 .dropdown-toggle {
   position: relative;
   z-index: 999;
 }

.panel  {
  background-color: var(--body-bgcolor);
  border: none;
  padding: 2rem 4rem;
  position: relative;
  z-index: 1;

}
 .thumbnail {
   background-color: transparent;
   border: none;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   padding: 0;
   }

 .thumbnail img{
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

 }

 /* overlay code from travelsomellier */
 #slideshow	{
 	/* display: flex;
  flex-wrap: wrap; */
 	/* position: relative; */
  max-width: 800px;
 	width: 100%;
 	margin: auto;
  padding: 1% 0;
 	/* height: 70%; */
 }
 .column {
   flex: 100%;
   max-width: 90%;
 }

 .landscape {
     /* float: left; */

     width: 100%;
     margin: auto;
     /* max-width: 500px; */
     /* height: 320px; */
     overflow: hidden;
     -webkit-box-shadow: 0px 0px 5px 0px rgba(0,12,15,1);
     -moz-box-shadow: 0px 0px 5px 0px rgba(0,12,15,1);
     box-shadow: 0px 0px 5px 0px rgba(0,12,15,1);
 }

 .landscape  img{
       max-width: 800px;
       width: 100%;
       height: auto;
   }
 .image_container	{
   position: relative;
   margin: 2% 2%;
 }
 .image_container:hover img	{
   transition: 1s;
   opacity: .75;
   /* width: 103%; */
 }
 .image_container:hover .overlay	{
   opacity: 1;
 }
 .overlay	 {
   z-index: 999;
   position: absolute;
   top: 40%;
   margin: auto;
   width: 100%;
   transition: .5s;
   opacity: 0;
 }
 .overlay:hover	{
   opacity: 1;
 }
 .overlay_text	{
   text-align: center;
   font-weight: lighter;
   font-size: 1.2em;
   color: #fff;
   /* font-family: scriptina; */
 }
 .no-touch .myClass {

 }
 .touch .overlay {
    opacity: 1;
 }

 /************* Media queries *****************/

 /* @media screen and (min-width: 1600px) {
    .landscape {
        width: 400px;
        height: 400px;
      }
  } */
  @media only screen and (min-width: 1544px)  {


  }
  @media only screen and (min-width: 1344px)  {
    body {
      background-position: top center;
      background-size: cover;
    }
  }
  @media only screen and (max-width: 998px)  {
    /* .landscape {
        width: 100%;

      } */

    #owner-tag {
      margin-left: 0;
    }
  }
@media only screen and (max-width: 768px)  {

  #owner  {
    width: 50%;
  }

  #nav-right  {
    width: 44%;
  }

}

 @media only screen and (max-width: 560px)  {
   #owner  {
     width: 70%;
   }

   #nav-right  {
     width: 28%;
   }

   #owner-tag  {
     display: none;
   }

 }
